.cs-logo, .cs-sign-cart-div img{
    cursor: pointer;
}
.cs-nav-bar-main-div{
    margin: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cs-nav-items{
    display: flex;
    gap: 2.5rem;
}
.cs-nav-items a{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.cs-nav-items a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    transition: 0.2s ease; 
}
.cs-nav-items a:hover::after{
    transition: 0.2s ease;
    width: 100%;

}
.cs-sign-cart-div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.cs-sign-cart-div a{
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.cs-sign-cart-div a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    transition: 0.2s ease; 
}
.cs-sign-cart-div a:hover::after{
    transition: 0.2s ease;
    width: 100%;
}